# Dependencies
node_modules/
package-lock.json

# Environment Variables
.env
.env.local

# OS Files
.DS_Store
Thumbs.db

# Build Artifacts
/frontend/dist/
/frontend/.angular/
/backend/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
