<div class="board-container">
    <h3>{{ title }}</h3>
    <app-board [rowCriteria]="rowCriteria" [colCriteria]="colCriteria" [gridData]="gridData"
        [cellTemplate]="summaryCellTemplate">
    </app-board>

    <ng-template #summaryCellTemplate let-cell>
        <div class="summary-cell-content">
            <app-grid-cell *ngIf="cell" [movie]="cell.movie" [rarity]="cell.rarity"></app-grid-cell>
            <div *ngIf="!cell" class="empty-cell">
                <span>-</span>
            </div>
        </div>
    </ng-template>
</div>