<div class="modal-overlay" (click)="onClose()">
    <div class="modal-content" (click)="stopPropagation($event)">
        <div class="modal-header">
            <h2>Player Answers ({{ answers?.length }})</h2>
            <button class="close-btn" (click)="onClose()">&times;</button>
        </div>
        <div class="modal-body scrollable-unique">
            <div class="answers-list-container">
                <div *ngFor="let m of answers" class="answer-item">
                    <img *ngIf="m.poster_path" [src]="m.poster_path" class="answer-thumb">
                    <div *ngIf="!m.poster_path" class="answer-thumb placeholder"></div>
                    <div class="answer-info">
                        <div class="answer-title">{{ m.title }}</div>
                        <div class="answer-year">{{ m.release_date | date:'yyyy' }} <span *ngIf="m.count">• {{ m.count
                                }} guesses</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>