<div class="grid-wrapper">
    <!-- Top Left Corner (Empty) -->
    <div class="header-cell corner"></div>

    <!-- Column Headers -->
    <div class="header-cell col-header clickable-header" *ngFor="let col of colCriteria" (click)="onCriteriaClick(col)">
        <div class="criteria-label">{{ col.label }}</div>
        <div class="criteria-type">{{ col.type }}</div>
    </div>

    <!-- Rows -->
    <ng-container *ngFor="let row of rowCriteria; let i = index">
        <!-- Row Header -->
        <div class="header-cell row-header clickable-header" (click)="onCriteriaClick(row)">
            <div class="criteria-label">{{ row.label }}</div>
            <div class="criteria-type">{{ row.type }}</div>
        </div>

        <!-- Grid Cells -->
        <div *ngFor="let cellData of gridData[i]; let j = index" (click)="onCellClick(i, j)" class="cell-wrapper">
            <ng-container *ngTemplateOutlet="cellTemplate; context: { $implicit: cellData, row: i, col: j }">
            </ng-container>
        </div>
    </ng-container>
</div>