<div class="modal-overlay" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">


        <div class="search-input-wrapper">
            <input #searchInput type="text" [(ngModel)]="query" (ngModelChange)="onSearch()"
                placeholder="Type movie title..." autofocus>
        </div>

        <div class="results-list">
            <div *ngFor="let movie of results" class="result-item" [class.used]="usedMovieIds.includes(movie.id)">
                <img *ngIf="movie.poster_path" [src]="movie.poster_path" [alt]="movie.title" class="result-poster">
                <div *ngIf="!movie.poster_path" class="result-poster no-poster">No Image</div>
                <div class="result-info">
                    <div class="result-title">{{ movie.title }}</div>
                    <div class="result-year">{{ movie.release_date | date:'yyyy' }}</div>
                </div>
                <button class="guess-btn" [disabled]="usedMovieIds.includes(movie.id)" (click)="selectMovie(movie)">
                    {{ usedMovieIds.includes(movie.id) ? 'Used' : 'Guess' }}
                </button>
            </div>
            <div *ngIf="results.length === 0 && query.length > 2" class="no-results">
                No movies found
            </div>
        </div>
    </div>
</div>